<?xml version="1.0" encoding="UTF-8"?>  
<configuration>

    <property name="fileLayoutPattern"    
        value=" %d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger \\(%F:%L\\)  -  %msg %n" />
  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>${fileLayoutPattern}</pattern>
        </layout>  
    </appender>  
  
    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ZF_HOME}/logs/zf-taskmonitor/threadlog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ZF_HOME}/logs/zf-taskmonitor/threadlog.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- 此处30天-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <Pattern>${fileLayoutPattern}</Pattern>
        </layout>  
    </appender>  
      
	<!-- 定义将com.aotain.zongfen包下的最低级别日志信息   -->
	<logger name="com.aotain.taskmonitor" level="INFO"/>
	<root>
		<level value="INFO" /> <!-- 系统全局日志输出最低级别，但不包括com.aotain.zongfen包 -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOG_FILE" />
	</root>  
  
</configuration> 